@media (min-width: 768px) {
html,
body,
#introBgSvg {
    width: 100%;
    min-height: 600px;
    height: 100vh;
    background: #cadfe6;
}

    body {
        background: #cadfe6;
    }
}
.cruim{
    background: #cadfe6;
    text-align: center;
}

h1{
    text-align: center;
    color: #e6ffff;
    font-size: 19px;
}